
<footer class="footer">
  <div class="row">

    <div class="medium-12">

      <ul class="footer_list">

        <li class="footer_list--item footer_item__first">

          <div class="footer_logo">
            <a href="#" class="footer_logo--link">MoGo</a>
          </div>

          <p class="footer_item--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

          <div class="footer_followers"><span>15K</span>followers</div>

          <div class="footer_social">
            <span class="footer_social--text">Follow Us</span>
            <ul class="footer_social--list">
              <li class="footer_social--item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="footer_social--item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="footer_social--item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li class="footer_social--item"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
              <li class="footer_social--item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li class="footer_social--item"><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
              <li class="footer_social--item"><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
              <li class="footer_social--item"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
            </ul>
          </div>

          <form action="" class="footer_form"><input type="mail" value="Your Email..." class="footer_input--mail"><input type="submit" value="subscribe" class="footer_input--submit"></form>

        </li>

        <li class="footer_list--item footer_item__second">

          <h4>blogs</h4>

          <ul class="footer_blog">

            <li class="footer_blog--item">
              <img src="img/blog_footer_1.jpg" alt="big lamp" class="footer_blog--image">
              <div class="footer_blog--content">
                <p class="footer_blog--text"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing</a></p>
                <span class="footer_blog--date">Jan 9, 2016</span>
              </div
            </li>

            <li class="footer_blog--item">
              <img src="img/blog_footer_2.jpg" alt="stars at night sky" class="footer_blog--image">
              <div class="footer_blog--content">
                <p class="footer_blog--text"><a href="#">Consectetur adipiscing elit, sed do eiusmod tempor</a></p>
                <span class="footer_blog--date">Jan 9, 2016</span>
              </div>
            </li>

            <li class="footer_blog--item">
              <img src="img/blog_footer_3.jpg" alt="man with guitar" class="footer_blog--image">
              <div class="footer_blog--content">
                <p class="footer_blog--text"><a href="#">sed do eiusmod tempor incididunt ut labore</a></p>
                <span class="footer_blog--date">Jan 9, 2016</span>
              </div>
            </li>

          </ul>

        </li>

        <li class="footer_list--item footer_item__third">
          <h4>instagram</h4>
          <ul class="footer_instagr">
            <li class="footer_instagr--item"><a href="#" class="footer_instagr--link"><img src="img/inst_1.jpg" alt="instagram miniatures" class="footer_instagr--img"></a></li>
            <li class="footer_instagr--item"><a href="#" class="footer_instagr--link"><img src="img/inst_2.jpg" alt="instagram miniatures" class="footer_instagr--img"></a></li>
            <li class="footer_instagr--item"><a href="#" class="footer_instagr--link"><img src="img/inst_3.jpg" alt="instagram miniatures" class="footer_instagr--img"></a></li>
            <li class="footer_instagr--item"><a href="#" class="footer_instagr--link"><img src="img/inst_4.jpg" alt="instagram miniatures" class="footer_instagr--img"></a></li>
            <li class="footer_instagr--item"><a href="#" class="footer_instagr--link"><img src="img/inst_5.jpg" alt="instagram miniatures" class="footer_instagr--img"></a></li>
            <li class="footer_instagr--item"><a href="#" class="footer_instagr--link"><img src="img/inst_6.jpg" alt="instagram miniatures" class="footer_instagr--img"></a></li>
            <li class="footer_instagr--item"><a href="#" class="footer_instagr--link"><img src="img/inst_7.jpg" alt="instagram miniatures" class="footer_instagr--img"></a></li>
            <li class="footer_instagr--item"><a href="#" class="footer_instagr--link"><img src="img/inst_8.jpg" alt="instagram miniatures" class="footer_instagr--img"></a></li>
            <li class="footer_instagr--item"><a href="#" class="footer_instagr--link"><img src="img/inst_9.jpg" alt="instagram miniatures" class="footer_instagr--img"></a></li>
          </ul>
          <div class="footer_view--more"><a href="#" class="view_more--link">View more photos</a></div>
        </li>

      </ul><!-- end .footer_list -->

      <div class="footer_bottom">
        <p class="template_info">&#169; 2016 MoGo free PSD template by <a href="#">Laaqiq</a></p>

      </div>

    </div><!-- end .middle-12 -->

  </div><!-- end .row -->

</footer>
