<section class="header">

      <div class="header--nav">

        <div class="logo">
          <a href="#" class="logo-link">MoGo</a>    <!-- logo -->
        </div>

        <nav class="nav_block">   <!-- main menu -->
          <ul class="main-navs">
            <li class="navs--items"><a href="#">About</a></li>
            <li class="navs--items"><a href="#">Service</a></li>
            <li class="navs--items"><a href="#">Work</a></li>
            <li class="navs--items"><a href="#">Blog</a></li>
            <li class="navs--items"><a href="#">Contact</a></li>
          </ul>
        </nav>    <!-- end main menu -->

        <div class="cart_search--block">   <!-- block of search & cart -->

            <a href="#" class="cart_search cart--link"></a>

            <a href="#" class="cart_search search--link"></a>

        </div>    <!-- end block of search & cart -->


        <a href="#" class="nav_toggle">
            <span class="toggle_line"></span>
            <span class="toggle_line"></span>
            <span class="toggle_line"></span>
        </a>

      </div>    <!-- end header -->


      <div class="slider_box align-center">

        <div class="slider_top">

          <div class="slider_item">

            <div class="greating">
              <p>Creative Template</p>
              <h1>welcome to mogo</h1>
            </div>

            <div class="row align-center btn-read--box">

              <div class="btn-read--center">
                <a href="#" class="btn-read">learn more</a>
              </div>

            </div>

          </div><!-- end slider_item -->


          <div class="slider_item">

            <div class="greating">
              <p>Creative Template</p>
              <h1>welcome to mogo</h1>
            </div>

            <div class="row align-center btn-read--box">

              <div class="btn-read--center">
                <a href="#" class="btn-read">learn more</a>
              </div>

            </div>

          </div><!-- end slider_item -->


          <div class="slider_item">

            <div class="greating">
              <p>Creative Template</p>
              <h1>welcome to mogo</h1>
            </div>

            <div class="row align-center btn-read--box">

              <div class="btn-read--center">
                <a href="#" class="btn-read">learn more</a>
              </div>

            </div>

          </div><!-- end slider_item -->


          <div class="slider_item">

            <div class="greating">
              <p>Creative Template</p>
              <h1>welcome to mogo</h1>
            </div>



            <div class="row align-center btn-read--box">

              <div class="btn-read--center">
                <a href="#" class="btn-read">learn more</a>
              </div>

            </div>

          </div><!-- end slider_item -->

        </div><!-- end slider_top -->

      </div><!-- end slider_box -->

      <div class="row slider-nav">

        <ul>
          <li class="slider-link--item">

            <a href="#" class="slider-link"><span class="slider-link--num">01</span>intro</a>

          </li>
          <li class="slider-link--item">

            <a href="#" class="slider-link"><span class="slider-link--num">02</span>work</a>

          </li>
          <li class="slider-link--item">

            <a href="#" class="slider-link"><span class="slider-link--num">03</span>about</a>

          </li>

          <li class="slider-link--item">

            <a href="#" class="slider-link"><span class="slider-link--num">04</span>contacts</a>

          </li>
        </ul>

      </div><!-- end slider_links -->

    </section>
